n8n_meta_ads_leads_workflow.json
{
  "name": "Meta Ads Leads → Movida ERP CRM",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Facebook Lead Ads Trigger",
      "type": "n8n-nodes-base.facebookLeadAdsTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "facebookLeadAdsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Facebook Lead Ads account"
        }
      },
      "notes": "1. Conecta tu cuenta de Facebook aquí.\n2. Selecciona la Página y el Form específico.\n3. n8n creará automáticamente el webhook en Meta."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp-movida.vercel.app/api/webhooks/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nombre\": \"{{ $json.full_name || $json.first_name + ' ' + $json.last_name || 'Sin nombre' }}\",\n  \"email\": \"{{ $json.email || '' }}\",\n  \"telefono\": \"{{ $json.phone_number || '' }}\",\n  \"empresa\": \"{{ $json.company_name || '' }}\",\n  \"fuente\": \"Meta Ads\",\n  \"notas\": \"Campaña: {{ $json.campaign_name || 'N/A' }} | Ad: {{ $json.ad_name || 'N/A' }} | Form: {{ $json.form_name || 'N/A' }} | Fecha Lead: {{ $json.created_time || '' }}\"\n}",
        "options": {}
      },
      "id": "http-node",
      "name": "Enviar Lead al ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Movida ERP Webhook Auth"
        }
      },
      "notes": "POST al webhook del ERP.\nCredencial tipo 'Header Auth':\n  Name: Authorization\n  Value: Bearer TU_WEBHOOK_SECRET"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-node",
      "name": "¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "content": "=✅ Lead ingresado al CRM:\n**{{ $('Enviar Lead al ERP').item.json.message }}**\nID: {{ $('Enviar Lead al ERP').item.json.id }}\nAcción: {{ $('Enviar Lead al ERP').item.json.action }}"
      },
      "id": "success-node",
      "name": "Log Éxito",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "content": "=❌ Error al enviar lead:\n{{ $('Enviar Lead al ERP').item.json.error || 'Error desconocido' }}"
      },
      "id": "error-node",
      "name": "Log Error",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Facebook Lead Ads Trigger": {
      "main": [
        [
          {
            "node": "Enviar Lead al ERP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Lead al ERP": {
      "main": [
        [
          {
            "node": "¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Éxito?": {
      "main": [
        [
          {
            "node": "Log Éxito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "movida-erp-lead-integration"
  },
  "tags": [
    {
      "name": "Meta Ads",
      "id": "1"
    },
    {
      "name": "CRM",
      "id": "2"
    }
  ]
}
